

body {
    background: url("../images/floor.jpg")no-repeat center center fixed;
    background-size: cover;
}

/* logo of the page */
.logo {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-size: 70px;
    font-family: 'Rammetto One', cursive;
    color: #fff;
    text-shadow: #000 0px 0px 1px ;
}


/**************************************************************************************************************/
/*************************************** button styling and positioning ***************************************/
/**************************************************************************************************************/


/*  buttons to manipulate the character */
.button-container {
    text-align: center;
    border-right: 1px solid white;
    padding: 25px 10px;
    padding-bottom: 45px;
}

button {
    font-family: 'Rammetto One', cursive;
    margin: 15px 0px;
    padding: 10px;
    width: 60%;
    background-color: #000;
    color: #fff;
    text-shadow: #000 0px 0px 1px ;
    border-radius: 5px;
}

button:focus {
    outline:none;
}

button:hover {
    color:#D3D3D3;
    text-shadow: none;
    text-decoration: line-through;
}

#storeButton {
    color: red;
}



/**************************************************************************************************************/
/*************************** character creation styling and positioning ***************************************/
/**************************************************************************************************************/

/* where users see the characters change */

.character-background {
    margin: 0px;
    padding: 0px;
    border: 1px solid white;
    position: relative;
    background-image: url("../images/background/bg-two.jpg");
    background-repeat: no-repeat;  
    background-size:100%;
    z-index: 1;
}


#avatar {
    top: 80px;
    left: 220px;
    width: 300px;
    height: 400px;
    position: relative;
    z-index: 3;
}


#jersey {
    top: 78px;
    right: 147px;
    width: 150px;
    height: 138px;
    position: relative;
    z-index: 5
}

#shorts {
    top: 170px;
    width: 150px;
    height: 125px;
    right: 303px;
    position: relative;
    z-index: 4
}

#hair {
    right: 3px;
    width: 150px;
    bottom: 75px;
    width: 135px;
    height: 125px;
    position: relative;
    z-index: 4
}

#accessories {
    bottom: 85px;
    left: 200px;
    width: 100px;
    height: 90px;
    position: relative;
    z-index: 4
}


/**************************************************************************************************************/
/*******************************  start game styling and positioning ******************************************/
/**************************************************************************************************************/

#startGameContainer {
    border: 1px solid white;
    height: 500px;
    background: url("../images/startgame-bg.jpg")no-repeat center center fixed;
    background-size: cover;
    z-index: 1;
    border-radius: 10px;
}

#startGameButton {
    bottom: 60px;
    left: 33%;
    position: relative;
    font-family: 'Rammetto One', cursive;
    font-size: 40px;
    padding: 10px;
    width: 30%;
    height: 100px;
    background: url("../images/floor.jpg")no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-shadow: #000 0px 0px 1px ;
    border-radius: 10px;
}


#startGameButton:focus {
    outline:none;
}

#startGameButton:hover {
    font-size: 42px;
    color:#D3D3D3;
    text-shadow: none;
    text-decoration: none;
}

#kobe { 
    right: 375px;
    width: 300px;
    height: 450px;
    position: relative;
}

#lebron {
    left: 130px;
    width: 300px;
    height: 450px;
    position: relative;
}

#countDown {
    font-family: 'Rammetto One', cursive;
    top: 50px;
    color: red;
    font-size: 230px;
    left: 40%;
    width: 50px;
    height: 50px;
    margin: 0;
    position: relative;
    z-index: 5;
}

/*******************************************************************************************/
/************************************** screenshots ****************************************/
/*******************************************************************************************/

#takeScreenShot {
    color: red;
    position: relative;
    width: 50%;
    left: 460px;
    margin: 20px;
}

canvas {
    position: relative;
    height: 20px;
}


/**************************************************************************************************************/
/********************************** store page styling and positioning ****************************************/
/**************************************************************************************************************/

/* store container  */
#storeGameContainer {
    background-color: #000;
    border: 1px solid white;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 0;
    height: 100%;
}

/* Welcome to store title (word) */
#storeTitle {
    color: red;
    font-size: 30px;
    font-family: 'Rammetto One', cursive;
    text-align: center;
}

/* container for each item */
#boxItems {
    text-align: center;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    margin: 5px 10px;
    border-radius: 3px;
}

/* the title for each products i.e JERSEYS, SHORTS ... */
#itemTitle {
    margin: 0px;
    color: red;
    font-family: 'Rammetto One', cursive;
}

/* margin for the items image inside carousel  */
#carouselOne, #carouselTwo, #carouselThree, #carouselFour {
    margin: 10px;
}

/* button to add an item to your cart */
.addItem {
    margin: 0;
    padding: 5px;
}

/* images for each item */
.itemImage {
    height: 100px !important;
}

/********************************************************************/
                    /* CART STYLING STARTS HERE */
/********************************************************************/

/* container for the whole cart div */
#cartContainer {
    background-color: white;
    border: 1px solid white;
    height: 400px;
    margin: 15px 0px;
    border-radius: 5px;
}

/* the word My CArt */
.myCart {
    margin-top: 10px; 
    margin-left: 35%;
    color: red; 
    font-family: 'Rammetto One', cursive;
    font-size: 30px;
}

.cartItemContainer {
    border: 1px solid black;
    margin: 5px 20px;
    margin-left: 45px;
    border-radius: 10px;
    padding: 5px 80px;
    height: 150px;
    text-align: center;
}

.cartItemContainer2 {
    border: 1px solid black;
    margin: 5px 0px;
    border-radius: 10px;
    padding: 5px 80px;
    height: 150px;
    text-align: center;
}

.cartImage {
    height: 90px !important;
}

/* margin for the items image inside carousel  */
#carouselFive, #carouselSix, #carouselSeven, #carouselEight {
    margin: 5px;
}

.deleteItem {
    margin: 0;
    padding: 5px;
    width: 50px;
}

#avatarPage {
    padding: 5px;
    width: 50px;
    position: relative;
    left: 95%;
}

/**************************************************************************************************************/
/************************************** responsive website for desktop ****************************************/
/**************************************************************************************************************/

@media only screen and (max-width: 1200px) {
    .logo {
        font-size: 100px;
    }

    #startGameButton {
        font-size: 30px;
    } 

    #startGameButton:hover {
        font-size: 32px;
    }

    #kobe {
        top: 18px;
        right: 300px;
        width: 280px;
        height: 430px;
    }

    #lebron {
        top: 18px;
        left: 60px;
        width: 280px;
        height: 430px;
    }
}

@media only screen and (max-width: 1000px) {
    .logo {
        font-size: 90px;
    }

    #startGameContainer {
        height: 400px;
    }

    #startGameButton {
        font-size: 23px;
        bottom: 30px;
    } 

    #startGameButton:hover {
        font-size: 25px;
    }

    #kobe {
        top: 50px;
        right: 230px;
        width: 230px;
        height: 300px;
    }

    #lebron {
        top: 50px;
        left: 0px;
        width: 230px;
        height: 300px;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        font-size: 60px;
    }

    #startGameContainer {
        height: 400px;
    }

    #startGameButton {
        height: 80px;
        font-size: 10px;
        width: 25%;
        bottom: 20px;
        left: 38%;
    } 

    #startGameButton:hover {
        font-size: 12px;
    }

    #kobe {
        top: 70px;
        right: 160px;
        width: 180px;
        height: 280px;
    }

    #lebron {
        top: 120px;
        left: 0px;
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 40px;
    }

    #startGameContainer {
        height: 400px;
    }

    #startGameButton {
        height: 80px;
        font-size: 8px;
        width: 20%;
        bottom: 20px;
        left: 42%;
    } 

    #startGameButton:hover {
        font-size: 10px;
    }

    #kobe {
        top: 70px;
        right: 120px;
        width: 180px;
        height: 280px;
    }

    #lebron {
        top: 120px;
        left: 0px;
        width: 180px;
        height: 180px;
    }
}


@media only screen and (max-width: 400px) {
    .logo {
        font-size: 30px;
    }

    #startGameContainer {
        height: 400px;
    }

    #startGameButton {
        height: 60px;
        font-size: 6px;
        width: 15%;
        bottom: 20px;
        left: 42%;
    } 

    #startGameButton:hover {
        font-size: 10px;
    }

    #kobe {
        top: 90px;
        right: 80px;
        width: 160px;
        height: 260px;
    }

    #lebron {
        top: 150px;
        left: 0px;
        width: 140px;
        height: 140px;
    }
}
