
body {
    background-color: azure;
}

/* logo of the page */
.logo {
    text-align: center;
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid black;
    font-size: 70px;
    font-family: 'Rammetto One', cursive;
    background-color: #152a2a;
    color: #366b69;
    text-shadow: #fff 0px 0px 1px ;
}


/**************************************************************************************************************/
/*************************************** button styling and positioning ***************************************/
/**************************************************************************************************************/



/*  buttons to manipulate the character */
.button-container {
    text-align: center;
    border-right: 1px solid black;
    padding: 25px 10px;
    padding-top: 70px;
    padding-bottom: 45px;
}

button {
    font-family: 'Rammetto One', cursive;
    margin: 15px 0px;
    padding: 10px;
    width: 60%;
    background-color: #152a20;
    color: #fff;
    text-shadow: #000 0px 0px 1px ;
    border-radius: 10px;
}

button:focus {
    outline:none;
}

button:hover {
    background-color: azure;
    color: #000;
    text-shadow: none;
}



/**************************************************************************************************************/
/*************************** character creation styling and positioning ***************************************/
/**************************************************************************************************************/

/* where users see the characters change */

.character-background {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    position: relative;
    background-image: url("../images/background/bg-two.jpg");
    background-repeat: no-repeat;  
    background-size:100%;
    opacity: 0.9;
    z-index: 1;
}


#avatar {
    top: 80px;
    left: 220px;
    width: 300px;
    height: 400px;
    position: relative;
    z-index: 3;
}


#jersey {
    top: 78px;
    right: 147px;
    width: 150px;
    height: 138px;
    position: relative;
    z-index: 5
}

#shorts {
    top: 170px;
    width: 150px;
    height: 125px;
    right: 303px;
    position: relative;
    z-index: 4
}

#hair {
    right: 3px;
    width: 150px;
    bottom: 75px;
    width: 135px;
    height: 125px;
    position: relative;
    z-index: 4
}

#accessories {
    bottom: 85px;
    left: 200px;
    width: 100px;
    height: 90px;
    position: relative;
    z-index: 4
}